.now {
    color: rgb(0, 148, 32);
}
.old {
    color: rgb(197, 24, 24);
}
body {font-family: Tahoma ,'Courier New', Courier ;font-size: 12px;}
.ippower{
width: 14rem;
height: 3rem;
margin:1rem 1rem 1rem 1rem ;
cursor: pointer;

 background-color: rgba(200,200,200,0.8);
 box-shadow: 0.3rem 0.3rem 0.3rem rgba(100, 100, 100,0.8);

border: none;
outline: none;
color:rgba(100,40,40,0.8);
}
.ippower::before { content: "IPPower";   font-size: 45px;  }
.ippower::after   {   content: "scan";  font-size: 20px; }
.ippower:hover::before {  color:rgba(20,40,180,1);   }
.ippower:hover::after  {  color:rgba(20,40,180,1);   }
.ippower:focus::after  {  animation: scans 3s linear; color:rgb(117, 115, 6);  }
@keyframes scans{
    0% { 
    margin-left: 0px;
    content: "scanning...";  
    }
    70% { 
        margin-left: 100px;
          }
    100% { 
     margin-left: 0px;
    content: "list";
    }
}
.logins
{
  height: 40px;
  width: 70px;
  background-color: rgba(68, 25, 28, 0.8);
  border: 2px rgba(100,60,60, 0.9) solid;
  border-radius: 25%;
  display: block;
  color: rgba(250,250,250,0.9);
  text-align: center;
  font-size: 16px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold; 
}

.group{
    margin: 0 3% 10px 3% ;
    /* width: 90%; */
    text-align: left;
    color: #203040;
    background-color:rgba(240, 240, 240,0.85);
    box-shadow: 0.2rem 0.2rem 1rem rgba(100, 100, 100,0.8);
}

.device{

    display: inline-block;
    width:8rem;
    border-radius: 0.2rem;
    border:0.1rem rgba(100,100,100, 0.5) solid;
    margin: 0.5rem 0rem 0.5rem 1rem;
    padding: 0 0 0 5;
}

.nows
{
    background-color: lightgoldenrodyellow;
}

.device .MAC
{   background-color: rgba(100,100,100, 0.8);
    color:white;
    text-align: left;
    margin:0 0 8 -5;
    padding: 0 0 0 0;
}

/*.device .VER::before  { content: 'ver:'; }*/
.device:hover {
border : 0.3rem solid  rgba(150,60,60, 0.7);
margin: 0.1rem 0rem 0.1rem 0.6rem;
}
/*.device:hover .MAC {  background-color: rgba(100,100,100, 1);   }*/
.selid {
 /* width: 11rem; */
 
 position: relative;
 background-color: rgba(100, 100, 100,0.8);
 display: none;
 text-align: center;
 color: aliceblue;
 box-shadow: 0.5rem 0.5rem 0.5rem rgba(30, 15, 20,0.8);
 z-index: 1;
}
/* #edit #update #close */
.butt1
{
   width:5.5rem;
   border-radius: 0.2rem;
   border:0.1rem rgb(80, 80, 182) solid;
   background-color:rgba(190, 190, 180, 0.9); 
   margin: 0.4rem 1.5rem;
   padding:  0.2rem 0.5rem;
   text-align: center;
   color: rgb(83, 78, 7);
   display: flex;
   box-shadow: 0.2rem 0.2rem 0.2rem rgba(10, 10, 10,0.8);

}
.butt1:hover
{
    background-color:rgba(23, 66, 30, 0.842);
    color:rgba(255,255,80,1);
}

.progbar {
    width: 80%;
    height: 40px;
    background-color: #e03030;
    padding: 0;
    border: 10px #4040a0 solid;
    margin: 10%;
}
.prog{
    background: #a0Ca6a; 
    text-align: center;
    color: #e0f0e0;
    font-size: 2em;
    height: 40px;
    width: 0%;
    max-width: 100%;
    float:left;
    
    animation: progress 2s 1 forwards;  
}
@-webkit-keyframes progress {from { }to { width: 100% ;}}
@keyframes progress {from { }  to { width: 100%; }}

.progbarsw {
   display: none; 
}

.progbar1 {
    width: 100px;
    height: 9px;
    background-color: #e03030;
    padding: 0;
    border: 1px #4040a0 solid;
    margin: 5%;
}
.prog1{
    background: #a0Ca6a; 
    text-align: center;
    color: #e0f0e0;
    font-size: 2em;
    height: 9px;
    width: 0%;
    max-width: 100%;
    float:left;
    
    animation: progress1 70s 1 forwards;  
}
@-webkit-keyframes progress1 {from { }to { width: 100% ;}}
@keyframes progress1 {from { }  to { width: 100%; }}

.loginclass {    
    position: absolute;
    left: 375px;
    top: 150px;
    display: none;
    z-index: 100000;
}
